@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-space-grotesk), ui-sans-serif, system-ui,
    sans-serif;

  --color-accent-100: #fef3c7;
  --color-accent-400: #fbbf24;
  --color-accent-500: #f59e0b;
  --color-accent-600: #d97706;
}
